Repository erdos/stencil, pull requests merged in 2021-08, with the labels that each got.

#82 fix: slow rendering
  src/stencil/model.clj
Labels: bug

#84 feat: Github Action for PR
  .circleci/config.yml
  .github/workflows/pr_flow.yml
  .gitignore
  README.md
Labels: tests

#94 feat: add list function
  docs/Functions.md
  src/stencil/functions.clj
  test/stencil/functions_test.clj
Labels: functions

#93 feat: array access operator
  docs/Syntax.md
  src/stencil/infix.clj
  test/stencil/infix_test.clj
Labels: enhancement, syntax
