Repository erdos/stencil, pull requests merged in 2021-07, with the labels that each got.

#72 feat: version 0.3.17 - add decimal and integer functions
  README.md
  docs/Functions.md
  project.clj
  service/project.clj
  src/stencil/functions.clj
  test/stencil/functions_test.clj
Labels: enhancement, functions

#73 feat: version 0.3.18 - better format function
  README.md
  java-src/io/github/erdos/stencil/functions/StringFunctions.java
  java-test/io/github/erdos/stencil/functions/StringFunctionsTest.java
  project.clj
  service/project.clj
  src/stencil/functions.clj
  test/stencil/functions_test.clj
Labels: enhancement, functions

#74 chore: cleanup
  java-src/io/github/erdos/stencil/exceptions/EvalException.java
  service/Dockerfile
  src/stencil/model.clj
  src/stencil/model/common.clj
  src/stencil/postprocess/delayed.clj
  src/stencil/process.clj
  src/stencil/tree_postprocess.clj
  src/stencil/types.clj
  src/stencil/util.clj
Labels: good first issue

#77 feat: formatWithLocale function
  docs/Functions.md
  src/stencil/functions.clj
  test/stencil/functions_test.clj
Labels: enhancement, functions

#75 feat: images
  examples/Images/README.md
  examples/Images/data.json
  examples/Images/template.docx
  src/stencil/model.clj
  src/stencil/ooxml.clj
  src/stencil/postprocess/images.clj
  src/stencil/tree_postprocess.clj
  src/stencil/types.clj
  test-resources/test-image-1.docx
  test/stencil/api_test.clj
  test/stencil/functions_test.clj
Labels: images
